@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
   background-image: url("1.jpg");
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;     
  display: flex;    
  flex-direction: column;  
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 90;
    max-width: 1200px;
    margin: auto;
    justify-self: space-between;
    position: relative;
    flex-wrap: wrap;

}
.icon .logo{
    color: #06d6a0;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.menu ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: o.3s;
}
  
.menu ul li a:hover{
    color: #ffd166;
    
}

.search{
    display: flex;
    align-items: center;
    background:transparent;
    gap: 5px;
    flex-wrap: wrap;
}

.srch{
    width: 150px;
    max: width 70vw;
    height: 40px;
    background: transparent;
    border: 1px solid #06d6a0;
    color: #fff;
    padding: 0px 10px;
    border border-radius: 5px 0 0 5px;
    
}

.btn{
    width: 70px;
    height: 40px;
    border: 1px solid #06d6a0;
    background: #06d6a0;
    font-weight: bold;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(90deg, #06d6a0, #ef476f);
    color: #000;
    border: 1px solid #ffd166;
}

@media (max-width: 1024px){
    .main{
       background-position:center top ;
       background-size: cover;
    }
    
}
@media (max-width: 1024px){
    .main{
       background-position:center top ;
       background-size: cover;
    }
}
.search .srch{
    width: 50%;
}
.btn{
    width: 40%;
}

@media (max-width: 768px){
    .main{
       background-position:center top ;
       background-attachment: scroll;
    }
}
.navbar{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}
.menu ul{
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.search{
    width: 100%;
    justify-content:flex-start ;

}
.srch{
    width: 70%;
}
.btn{
    width: 100%;
}
@media (max-width: 480px){
    .main{
       background-position:center top ;
    
    }
    
    }
    
    .srch{
        width: 65%;
      
    }
    .btn{
        width: 100%;
       
    }

    
      .content{
        width: 90%;
        width: 1200px
        margin 50px auto;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        color: #f8f9fa;

        text-align: center;
      }
      .text-section{
        flex: 1;
        min-width: 300px;
      }

      .text-section h1{
        font-size: 50px;
        margin-bottom: 20px;

      }
      .text-section h1 span{
        color: #ffd166;
      }

      .text-section h2{
        color: #06d6a0;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 900;
      }

      .par{
        font-size: 20px 0;
        margin-bottom: 30px;
        line-height: 1.5;
      }

      .cn{
        background: #06d6a0;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .cn a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        
    }

    .cn:hover{
        background: linear-gradient(90deg, #06d6a0, #ef476f);
        
    }

    @media (max-width: 900px){
        .content{
            flex-direction: column;
            align-items: center;
        }
        .par{
            font-size: 18px;
        }
    }

    .form {
  flex: 0 0 300px;
  background: rgba(7, 59, 76, 0.85);
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
}

.form h2 {
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #06d6a0, #ffd166);
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #06d6a0;
  color: #fff;
}

.form input:focus {
  outline: none;
}

.btnn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #06d6a0;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btnn:hover {
  background: linear-gradient(90deg, #06d6a0, #ef476f);
  color: #fff;
}

.btnn a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.form .link .liw {
  text-align: center;
  margin-top: 15px;
}

.form .link a {
  color: #66ffa3;
  text-decoration: none;
}
